@model IEnumerable<Курсовик.Models.Категория>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Код_категории)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Название)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Дата_создания)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Количество_товара)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Код_категории)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Название)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Дата_создания)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Количество_товара)
        </td>
        <td>
            @if (User.IsInRole("Администратор"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Код_категории })}|
            @if (User.IsInRole("Администратор"))
            {
                @Html.ActionLink("Details", "Details", new { id = item.Код_категории })} |
            @if (User.IsInRole("Администратор"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.Код_категории })}
        </td>
        <td>
            @if (User.IsInRole("Учетчик выдачи"))
            {
                @Html.ActionLink("Выбрать", "Index1", "Продукция", new { id = item.Код_категории }, null)
            }
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Назад", "Index","Поставщик")
</p>
