@model IEnumerable<Курсовик.Models.Продукция>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Код_продукции)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Название)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Категория)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Материал)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Масса)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Цена_за_единицу)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Количество)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Код_продукции)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Название)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Категория)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Материал)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Масса)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Цена_за_единицу)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Количество)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Код_продукции }) |
                @Html.ActionLink("Details", "Details", new { id = item.Код_продукции }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Код_продукции })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Список выдач", "Index", "Выдача")
</p>
<p>
    @Html.ActionLink("Список поступлений", "Index", "Поступление")
</p>