@model IEnumerable<Курсовик.Models.Поставщик_категория>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Код_поставщика)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Код_категории)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Название)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Дата_создания)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Количество_товара)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Код_поставщика)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Код_категории)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Название)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Дата_создания)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Количество_товара)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
        <td>
            @Html.ActionLink("Добавить", "Index3", new { id = item.Код_категории, a = item.Код_поставщика }, null)

        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Назад", "Index", "Поставщик")
</p>
