@model IEnumerable<Курсовик.Models.Поставщик>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Код_поставщика)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Наименование_организации)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Адрес)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Почта)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Телефон)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Код_поставщика)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Наименование_организации)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Адрес)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Почта)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Телефон)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Код_поставщика }) |
            @Html.ActionLink("Details", "Details", new { id=item.Код_поставщика  }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Код_поставщика })
        </td>
        <td>
            @Html.ActionLink("Добавить категории", "Index1", "Поставщик_категория", new { id = item.Код_поставщика }, null) |
            @Html.ActionLink("Удалить категории", "Index2","Поставщик_категория", new { id=item.Код_поставщика }, null) 
            
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Все категории", "Index","Категория")
</p>
<p>
    @Html.ActionLink("Создать табель", "Index", "Расход")
</p>
<p>
    @Html.ActionLink("Открыть табель", "Index1", "Расход")
</p>
<p>
    @Html.ActionLink("Удалить табель", "Index3", "Расход")
</p>